<p id="notice"><%= notice %></p>

<div class="container">
  <table class="table table-hover text-white">
    <thead>
      <tr class="table-active">
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr class="table-active">
          <td scope="row"><%= student.name %></td>
          <td scope="row"><%= student.age %></td>
          <td scope="row"><%= student.email %></td>
          <td scope="row"><%= link_to 'Show', student, class:"btn btn-primary"%></td>

          <td><%= link_to 'Edit', edit_student_path(student), class:"btn btn-success" %></td>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Student', new_student_path %>
